<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    IoT in UIC
    <br/>
    <a href="/1">LED ON</a>
    <a href="/2">LED OFF</a>
  </body>
</html>
